@{
    ViewBag.Title = "V5技术平台";
    Layout = "~/Views/Shared/_LoyoutProductService.cshtml";
}

<div class="inner">
    <div class="about about_team">
        <h1>V5技术平台</h1>
        <div class="v5 clearfix">
            <ul>
                <li> · 专注于汽车及零部件、加工装配行业</li>
                <li> · 以满足客户需求和提升企业绩效为主旨</li>
                <li> · 提供“智能制造”工业软件集成解决方案</li>
                <li> · 以“精益管理”+“智慧制造信息系统为核心</li>
            </ul>
            <div class="znzz">
                <ul>
                    <li class="one"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=1")" target="_blank">电商平台</a></li>
                    <li class="two"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=2")" target="_blank">精益生产咨询</a></li>
                    <li class="three"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=3")" target="_blank">APS</a></li>
                    <li class="four"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=4")" target="_blank">工厂场景<br>虚拟现实<br>系统</a></li>
                    <li class="five"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=5")" target="_blank">MES</a></li>
                    <li class="six"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=6")" target="_blank">CRM</a></li>
                    <li class="seven"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=7")" target="_blank">工业数据<br>管理系统</a></li>
                    <li class="eight"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=8")" target="_blank">ERP</a></li>
                    <li class="nine"><a href="@Url.Content("~/V5TPPI/Index?roofIndex=9")" target="_blank">生产作业<br>管理系统</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
