<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>优海内容管理系统</title>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/layui/css/layui.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/layui/css/global.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/css/fs.css")">
    <script src="@Url.Content("~/Scripts/layui/layui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!--header-->
        @{ Html.RenderAction("NavHead", "Nav");}

        <!-- 左侧导航 -->
        @{ Html.RenderAction("NavLeft", "Nav");}

        <!-- 内容主体区域 -->
        <div class="layui-body site-demo">
            <div class="layui-main">
                @RenderBody()
            </div>
        </div>

        <!-- 底部固定区域 -->
        @{ Html.RenderAction("NavFooter", "Nav");}

    </div>


    <!-- 脚本节点 -->

    <script>
        //JavaScript代码区域
        var $;
        layui.use('element', function () {
            var element = layui.element;
            $ = layui.jquery;
        });
    </script>




    @RenderSection("scripts", required: false)
</body>
</html>